.navigation {
  padding: 145px 0 50px 110px;
  z-index: 10;
}

.navigation__info {
  color: #42567a;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.navigation__btn {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  background: transparent;
  border: none;
  margin-top: 20px;
}

.navigation__btn_type_left {
    background-image: url('../../assets/images/arrow-left.svg');
}
.navigation__btn_type_right {
    background-image: url('../../assets/images/arrow-right.svg');
    margin-left: 20px;
}
