@import '../../vendor/variables';

.navigation {
  padding: 145px 0 50px 80px;
  background-color: transparent;

  &__info {
    color: #42567a;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }

  &__btn {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background-color: $transparent;
    border: none;
    margin-top: 20px;
    z-index: 10;
    position: relative;
    background-image: url('../../assets/images/arrow-left.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &_type_right {
      transform: rotate(180deg);
      margin-left: 20px;
    }
  }
}

.swiper-button-disabled {
  opacity: 0.5;
}

@media all and (max-width: 768px) {
  .navigation {
    padding: 46px 0 13px 0;
    background-color: $transparent;

    &__btn {
      width: 25px;
      height: 25px;
      margin-top: 10px;

      &_type_right {
        margin-left: 8px;
      }
    }
  }
}
