@import '@cssVariables';

.swiper-slide {
  flex-direction: column;

  &__year {
    color: $accent-blue;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
    align-self: start;

    @media all and (max-width: 768px) {
      font-size: 16px;
      margin-top: 19px;
    }
  }

  &__description {
    color: $black-blue;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    align-self: start;

    @media all and (max-width: 768px) {
      line-height: 30px;
      font-size: 14px;
      line-height: 145%;
    }
  }
}

.swiper-button-next {
  background-image: url(@arrowLeft);
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(@arrowLeft);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}
