.container {
  position: relative;
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 0 80px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-swiper {
  min-height: 300px;
  // border: 1px solid red;
  background-color: transparent;
  margin-left: 80px;
}

.swiper-slide {
  // min-height: 200px;
  // border: 1px solid rgb(60, 255, 0);
  // background-color: #371355;
  background-color: transparent;
}

.info {
  display: flex;
  gap: 397px;
  align-items: center;
  padding: 165px 0 90px 0;
}

.info__title {
  color: var(--Black-blue, #42567a);
  font-family: 'PT Sans', sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  width: 410px;
  padding: 0 0 0 73px;
  border-left: 7px solid transparent;
  border-image: linear-gradient(#3877ee, #ef5da8);
  -moz-border-image: -moz-linear-gradient(#3877ee, #ef5da8);
  -webkit-border-image: -webkit-linear-gradient(#3877ee, #ef5da8);
  border-image-slice: 1;
}

.info__event-type {
  margin: 0;
  color: var(--Black-blue, #42567a);
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.span {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: 160px;
  letter-spacing: -4px;
}

.span_1 {
  color: var(--iris-100, #5d5fef);
  padding-left: 218px;
}

.span_2 {
  color: var(--fuschia-100, #ef5da8);
  padding-left: 93px;
}

@media all and (max-width: 320px) {
  .container {
    padding: 0 20px;
  }

  .info {
    display: block;
    padding: 60px 0 56px 0;
  }

  .info__event-type {
    display: none;
  }

  .info__title {
    border-left: none;

    font-size: 20px;
    padding: 0 0 0 0;
  }

  .span {
    display: inline-block;
    font-size: 56px;
    line-height: normal;
    letter-spacing: -1.12px;
    border-bottom: 1px solid #c7cdd9;
  }

  .span_1 {
    padding: 0 0 60px 0;
  }

  .span_2 {
    padding: 0 0 60px 20px;
  }

  .outer-swiper {
    min-height: 100px;
    margin-left: 0;
  }
}
