// $main-color: rgb(42, 87, 87);

// .container {
//   background-color: $main-color;
// }

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  margin: 100px 50px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  min-height: 300px;
  color: rgb(30, 219, 71);
  border: 1px solid red;
  background: transparent;
}
.SwiperSlide {
  min-height: 200px;
  border: 1px solid rgb(60, 255, 0);
  // background-color: #371355;
  background: transparent;
}
